<% layout('layouts/boilerplate') %>

<h1>Favorite Items</h1>
<hr>
<% if(products.length == 0){ %> 
  <h5>No Items Here</h5>
  <% } %> 
<div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4">
 
    <% for (let i=products.length - 1; i>=0; i--){%>
      <% let product = products[i]; %> 
        <div class="col">
          <a class="cardItem" href="/products/<%= product._id %>">
            <div class="card h-100">
              <div class="containerbox">
                        

                <% if(product.image.length == 0){ %> 
                  <img src="https://res.cloudinary.com/webbid/image/upload/v1632008118/Webbid/cropped_no_image_vhl7vd.jpg" class="card-img-top" alt="...">
                  <% }else { %> 
                    <img src="<%= product.image[0].url%>" class="card-img-top" alt="...">
                    <% } %>
                    <div class="overlay">

                      <span class="text">#<%= product.category %> </span>
                      <span class="likes"><i class="fas fa-heart"></i>  <%=product.favCount %> </span>
                      <div class="details">
                        <p><%=product.description %> </p>
                      </div>
                    </div>
             
            </div>
                      
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><h5 class="card-title"><%= product.title %></h5></li>
                        <% if(product.endTime >= Date.now() && product.startTime <= Date.now()){ %> 
                          <li class="list-group-item"><span style="font-weight:700; color: red;"><i class="fas fa-circle"></i> Live</li>
                          <% } else { %> 
                            <li class="list-group-item"><span style="font-weight:700;">Start: </span><%= product.startTime.toLocaleString('en-GB') %></li>
                            <% } %> 
                        <li class="list-group-item"><span style="font-weight:700;">End: </span><%= product.endTime.toLocaleString('en-GB') %></li>
                        <li class="list-group-item"><span style="font-weight:700;"><%= product.price%> UC</span></li>
                        <li class="list-group-item"> <form class="d-inline" action="/user/<%= product._id %>/remove?_method=PUT" method="POST">
                          <button class="btn btn-danger" style="width: 100%;">Remove</button></form></li>
                      </ul>
            </div>
          </a>
          </div>
    <% }%>
</div>
<a href="#top" ><button id="scrollUp"><i class="fas fa-arrow-circle-up"></i></button></a>
        <a href="#bottom" ><button id="scrollDown"><i class="fas fa-arrow-circle-down"></i></button></a>
        
        
        <div id="bottom"></div>